/* Work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nunito&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

* {
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary {
    border: none;
    color: #FFF;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
}

/* header Styles */

header {
    background-color: #FFF4E7;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.fa-solid {
    color: lightblue;
    margin-right: 10px;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.banner-title {
    font-size: 4rem;
    font-size: 700;
    color: #131313;
}

/* main styles */

main {
    max-width: 1240px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* Facts Section */
.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0;
}

/* Sponsors styles start here */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
    height: 50px;
}

/* Responsive area styles */

/* mobile device */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .teams-content,
    .facts-card-container {
        padding: 0 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-card-container {
        gap: 20px;
    }
}

/* medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}